= render partial: "projects/header"
.mypage__edit
  .edit__left
    .mypage__left__box
      - if current_user.image.present?
        = image_tag("#{@user.image}", class: "mypage__image", size: "175x175")
      - else
        = image_tag("icon_red.png", class: "mypage__image", size: "175x175")
    .mypage__edit__name #{@hold_user.name}
    .mypage__main__left
      .mypage__border
      .mypage__menu__title
        %i.mypage__menu__title-image{class: "fa fa-group faa-pulse animated"}
        .mypage__menu__title-text サポーター
      .mypage__inbox
        .mypage__menu
          = link_to "支援したプロジェクト", "", class: "mypage__menu__body"
      .mypage__inbox
        .mypage__menu
          = link_to "購入履歴(ストア)", "", class: "mypage__menu__body"
      .mypage__inbox.inbox__last
        .mypage__menu
          = link_to "メッセージ", "", class: "mypage__menu__body"
      .mypage__border
      .mypage__menu__title
        %i.mypage__menu__title-image{class: "fa fa-user faa-pulse animated"}
        .mypage__menu__title-text アカウント情報
      .mypage__inbox
        .mypage__menu
          = link_to "プロフィール編集", edit_user_path, class: "mypage__menu__body"
      .mypage__inbox.inbox__last
        .mypage__menu
          = link_to "メール通知設定", "", class: "mypage__menu__body"
  .edit__right
    .mypage__main__right
      .right__title
        %h2 パスワード変更
      = form_for (@user), url: user_path do |f|
        .profile__field
          = f.label :password, "新しいパスワード", class: 'profile__field__text'
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
            %br/
          .profile__field__box
            = f.password_field :password, class: 'profile__field__box-form'
        .profile__field
          = f.label :password_confirmation, "パスワード(確認)", class: 'profile__field__text'
          .profile__field__box
            = f.password_field :password_confirmation, class: 'profile__field__box-form'
        .profile__submit
          = f.submit "変更する", class: "profile__submit__btn"
= render partial: "projects/footer"
