.content
  .catch-copy
    %h1.catch-copy__top 新たなチャレンジを応援しよう。
    %h2.catch-copy__bottom 世の中を良くする新しいチャレンジが毎日続々と登場。

  .project
    .project__box
      - @projects.each do |project|
        .project__box__in
          = link_to "/projects/#{project.id}", class: "project__box__in__top" do
            = image_tag("#{project.image}", class: "project__box__in__top__image", size: "310x170")
            %p
            = project.title
          .project__box__in__middle
            .project__box__in__middle__time
              %i.project__box__in__middle__time__image{class: "fa fa-clock-o"}
              - if ((project.end_time - Date.today).to_i) <= 0
                %p 終了
              - else
                %p #{(project.end_time - Date.today).to_i}日
            .project__box__in__middle__money
              %i.project__box__in__middle__money__image{class: "fa fa-yen"}
              %p #{project.sum_price}
          .project__box__in__bottom
            - if project.clear_rate.round(0) > 100
              .project__box__in__bottom__gage
              .project__box__in__bottom__per
                %p #{project.clear_rate.round(0)}%
            - else
              .project__box__in__bottom__gage{style: "width:#{project.clear_rate.round(0)}%"}
              .project__box__in__bottom__per
                %p #{project.clear_rate.round(0)}%

  .new
    .new__box
      .new__project
        = image_tag("new.gif", class: "new__project__icon", size: "32x32")
        .new__project__title 最近始まったプロジェクト

      .new__project__box
        - @new_projects.each do |project|
          .new__project__box__in
            = link_to "/projects/#{project.id}", class: "project__box__in__top" do
              = image_tag("#{project.image}", class: "project__box__in__top__image", size: "230x129")
              %p
              = project.title

  .sudden__rise
    .sudden__box
      .sudden__rise__project
        = image_tag("sudden_rise.png", class: "sudden__rise__project__icon", size: "32x28")
        .sudden__rise__project__title 急上昇ランキング

      .sudden__rise__project__box
        .sudden__rise__project__box__in
          = image_tag("rank1.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
          = link_to "コンプレッサ", root_path, class: "sudden__rise__project__box__in__title"
          %p.sudden__rise__project__box__in__text 自転車を愛する全ての人へ。車のタイヤまでらくらく高速充填できる高性能自動空気入れ
        .sudden__rise__project__box__in
          = image_tag("rank2.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
          = link_to "Makuake限定割引", root_path, class: "sudden__rise__project__box__in__title"
          %p.sudden__rise__project__box__in__text 衝撃...塗る液晶ガラスフィルム！そんな近未来の商品【液体ガラスフィルム】
        .sudden__rise__project__box__in
          = image_tag("rank3.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
          = link_to "グリーススプレー", root_path, class: "sudden__rise__project__box__in__title"
          %p.sudden__rise__project__box__in__text お客様のご要望により開発！『LSベルハンマーグリーススプレー』
        .sudden__rise__project__box__in
          = image_tag("rank4.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
          = link_to "スマートライト", root_path, class: "sudden__rise__project__box__in__title"
          %p.sudden__rise__project__box__in__text 寝室を最高のエンタメ空間へ。スマートライト「popIn Aladdin」
        .sudden__rise__project__box__in
          = image_tag("rank5.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
          = link_to "源氏物語", root_path, class: "sudden__rise__project__box__in__title"
          %p.sudden__rise__project__box__in__text 海老蔵『源氏物語』公演。プロジェクションマッピングで歌舞伎に新たな挑戦を！


  .store
    .store__title
      = image_tag("logo_makuake_store.png", class: "store__title__image")
      %p.store__title__text Makuake成功プロジェクトのアイテムをお届け！

    .store__prod
      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("store1.jpg", class: "store__prod__box__top__image", size: "310x170")
          %p YASHICA再び！スマホで簡単に本格的な写真が撮れるマクロ＆ワイドレンズキット
        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り75個
          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 7,992円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("store2.jpg", class: "store__prod__box__top__image", size: "310x170")
          %p より良き守護を大切な人へ。鬼顔守（きがんもり）『良縁鬼顔』残りわずか！
        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り1個
          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 5,400円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("store3.png", class: "store__prod__box__top__image", size: "310x170")
          %p 違いの分かる大人へ。超音波でワインを熟成するSonic Decanter (ブラック）
        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り10個
          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 34,900円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("store4.jpg", class: "store__prod__box__top__image", size: "310x170")
          %p デキるビジネスマンの必携アイテム　極薄スマート名刺入れ「KEEPSMART」
        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り29個
          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 3,000円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("store5.jpg", class: "store__prod__box__top__image", size: "310x170")
          %p 3分で本格燻製ができるGLUDIA燻製器。アウトドアでも部屋でも手軽に燻製料理を
        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り29個
          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 17,820円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("store6.jpg", class: "store__prod__box__top__image", size: "310x170")
          %p 持ち歩ける！打合せに便利なノート型ホワイトボード「バタフライボード2」A5
        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り36個
          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 3,780円(税込)

  .mk-content
    .mk-content__project
      = image_tag("content.png", class: "mk-content__project__icon", size: "25x20")
      .mk-content__project__title Makuakeコンテンツ

    .mk-content__project__box
      .mk-content__project__box__in
        = image_tag("cont1.jpeg", class: "mk-content__project__box__in__image", size: "310x170")
        %p.mk-content__project__box__in__text UCCと業務提携 -カフェ・飲食店開業サポート-

      .mk-content__project__box__in
        = image_tag("cont2.jpeg", class: "mk-content__project__box__in__image", size: "310x170")
        %p.mk-content__project__box__in__text ISETAN × Makuake

      .mk-content__project__box__in
        = image_tag("cont3.jpeg", class: "mk-content__project__box__in__image", size: "310x170")
        %p.mk-content__project__box__in__text 代表・中山著『クラウドファンディング革命』発売中


  .ranking
    .ranking__rise__project
      = image_tag("sudden_rise.png", class: "ranking__project__icon", size: "32x28")
      .ranking__project__title 支援金ランキング

    .ranking__project__box
      .ranking__project__box__in
        = image_tag("sup1.jpg", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "HYBRID BIKE", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text 自転車＋バイク＝glafitバイク　スマートな折り畳み式電動ハイブリッドバイク
      .ranking__project__box__in
        = image_tag("sup2.png", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "GPD pocket", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text UMPCを忘れられないあなたへ　超小型パソコン『GPD Pocket』を日本でも
      .ranking__project__box__in
        = image_tag("sup3.jpg", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "Air", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text 小さなボディにフルオーケストラ。Hi-Fiサウンドの完全ワイヤレスイヤホンAir
      .ranking__project__box__in
        = image_tag("sup4.jpg", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "少年ハリウッド第26話", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text TVアニメ「少年ハリウッド」第26話を完全版にさせたい！応援プロジェクト
      .ranking__project__box__in
        = image_tag("sup5.jpg", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "GO・DJ", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text GODJ Plus 世界初！A4サイズのクラブハウス。スピーカー付きDJシステム

  .article
    .report
      .report__title
        = image_tag("report.gif", class: "report__title__icon", size: "32x32")
        .report__title__body 最近の活動レポート

      .report__box
        .report__box__in
          = image_tag("repo1.jpg", class: "report__box__in__image", size: "144x81")
          .report__box__in__body
            = link_to "村を一緒に再活！「Reborn 柿原」プロジェクトのサポーター募集", root_path, class: "report__box__in__body__bold"
            %p.report__box__in__body__time 1時間前
            = link_to "年末のバタバタの時にバタバタと公開いたしました。", root_path, class: "report__box__in__body__thin"

        .report__box__in
          = image_tag("repo2.png", class: "report__box__in__image", size: "144x81")
          .report__box__in__body
            = link_to "Paper Story からの提案　紙質とデザインが楽しめるオリジナル便箋セット", root_path, class: "report__box__in__body__bold"
            %p.report__box__in__body__time 1時間前
            = link_to "自由が丘のPaper Storyで新しい試作品展示予定です。", root_path, class: "report__box__in__body__thin"

        .report__box__in
          = image_tag("repo3.png", class: "report__box__in__image", size: "144x81")
          .report__box__in__body
            = link_to "皆神神社創建1300年記念事業！御神酒「皆神山」を飲んで歴史を後世に繋げたい。", root_path, class: "report__box__in__body__bold"
            %p.report__box__in__body__time 1時間前
            = link_to "明けましておめでとうございます。", root_path, class: "report__box__in__body__thin"

    .note
      .note__title
        = image_tag("report.gif", class: "note__title__icon", size: "32x32")
        .note__title__body 最近のMakuake Note

      .note__box
        .note__box__in
          = image_tag("note1.png", class: "note__box__in__image", size: "144x81")
          .note__box__in__body
            = link_to "スタッフが選ぶオススメプロダクト", root_path, class: "note__box__in__body__bold"
            %p.note__box__in__body__time 1時間前
            = link_to "今週のオススメプロジェクト3選です。", root_path, class: "note__box__in__body__thin"
        .note__box__in
          = image_tag("note2.png", class: "note__box__in__image", size: "144x81")
          .note__box__in__body
            = link_to "【重要】深夜システムメンテナンスのお知らせ", root_path, class: "note__box__in__body__bold"
            %p.note__box__in__body__time 1時間前
            = link_to "システムメンテナンスを実施致します。", root_path, class: "note__box__in__body__thin"
        .note__box__in
          = image_tag("note3.jpg", class: "note__box__in__image", size: "144x81")
          .note__box__in__body
            = link_to "「ISETAN × Makuake クラウドファンディング PROGRAM」展示プロジェクトのご紹介", root_path, class: "note__box__in__body__bold"
            %p.note__box__in__body__time 1時間前
            = link_to "Makuakeのプロジェクトが伊勢丹新宿本店にて展示される", root_path, class: "note__box__in__body__thin"

  .bottom-copy
    %h1.bottom-copy__top クラウドファンディングサイトMakuakeの特徴
    %h2.bottom-copy__bottom Makuakeでクラウドファンディングを実施するプロジェクト実行者は、掲載した自らのプロジェクトに賛同してくれたサポーター（資金提供者）に対してそれぞれが提供してくれた資金額に従いプレミアムなモノやサービスをお返しします。掲載されたプロジェクトはサイバーエージェントグループが運営する4000万人の会員数を誇るAmebaや、その他のメディアからの集客を行うことでより多くのネットユーザーにプロジェクトのアイデアを知ってもらうことができます。同時に、スマートフォンユーザー向けに最適化されたページ表示にも対応しており、決済手段に関してもクレジットカード・ペイジー(銀行振込)・ネットバンク振込・コンビニ払いを用意することでスムーズな支援が可能なサービスとなっております。
