.header
  = link_to root_path do
    = image_tag("makuake-logo.png", class: "header__logo")

  .search__form
    = form_tag(root_path, method: :get) do
      %input.search__form__box{name: "title"}
      %label
        %input.search__form__btn{type: "submit", value: "探す"}
        %i.search__form__btn__image{class: "fa fa-search faa-ring animated"}

  .navbar
    %ul.navbar__box
      %li
        = link_to "プロジェクトを掲載する", root_path, class: "navbar__box__link__apply"
      %li
        .navbar__box__fav
          = link_to root_path do
            %i.navbar__box__fav__heart{class: "fa fa-heart-o faa-pulse animated"} お気に入り
      %li
        .navbar__box__login
          = link_to "ログイン", destroy_user_session_path, class: "navbar__box__login__text"
      %li
        .navbar__box__signin
          = link_to "新規登録", new_user_registration_path, class: "navbar__box__signin__text"
