= render partial: "header"
= render partial: "pickup"

.content
  .catch-copy
    %h1.catch-copy__top 新たなチャレンジを応援しよう。
    %h2.catch-copy__bottom 世の中を良くする新しいチャレンジが毎日続々と登場。

  .project
    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%


    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%



  .new
    .new__project
      = image_tag("new.gif", class: "new__project__icon", size: "32x32")
      .new__project__title 最近始まったプロジェクト

    .new__project__box
      .new__project__box__in
        = image_tag("background_1.jpg", class: "new__project__box__in__image", size: "230x129")
        = link_to "最近始まりました。オナシャス", root_path, class: "new__project__box__in__text"
      .new__project__box__in
        = image_tag("background_1.jpg", class: "new__project__box__in__image", size: "230x129")
        = link_to "最近始まりました。オナシャス", root_path, class: "new__project__box__in__text"
      .new__project__box__in
        = image_tag("background_1.jpg", class: "new__project__box__in__image", size: "230x129")
        = link_to "最近始まりました。オナシャス", root_path, class: "new__project__box__in__text"
      .new__project__box__in
        = image_tag("background_1.jpg", class: "new__project__box__in__image", size: "230x129")
        = link_to "最近始まりました。オナシャス", root_path, class: "new__project__box__in__text"
      .new__project__box__in
        = image_tag("background_1.jpg", class: "new__project__box__in__image", size: "230x129")
        = link_to "最近始まりました。オナシャス", root_path, class: "new__project__box__in__text"
      .new__project__box__in
        = image_tag("background_1.jpg", class: "new__project__box__in__image", size: "230x129")
        = link_to "最近始まりました。オナシャス", root_path, class: "new__project__box__in__text"
      .new__project__box__in
        = image_tag("background_1.jpg", class: "new__project__box__in__image", size: "230x129")
        = link_to "最近始まりました。オナシャス", root_path, class: "new__project__box__in__text"
      .new__project__box__in
        = image_tag("background_1.jpg", class: "new__project__box__in__image", size: "230x129")
        = link_to "最近始まりました。オナシャス", root_path, class: "new__project__box__in__text"


  .sudden__rise
    .sudden__rise__project
      = image_tag("sudden_rise.png", class: "sudden__rise__project__icon", size: "32x28")
      .sudden__rise__project__title 急上昇ランキング

    .sudden__rise__project__box
      .sudden__rise__project__box__in
        = image_tag("prod_1.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "sudden__rise__project__box__in__title"
        %p.sudden__rise__project__box__in__text テキストテキストテキストテキストテキスト
      .sudden__rise__project__box__in
        = image_tag("prod_1.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "sudden__rise__project__box__in__title"
        %p.sudden__rise__project__box__in__text テキストテキストテキストテキストテキスト
      .sudden__rise__project__box__in
        = image_tag("prod_1.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "sudden__rise__project__box__in__title"
        %p.sudden__rise__project__box__in__text テキストテキストテキストテキストテキスト
      .sudden__rise__project__box__in
        = image_tag("prod_1.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "sudden__rise__project__box__in__title"
        %p.sudden__rise__project__box__in__text テキストテキストテキストテキストテキスト
      .sudden__rise__project__box__in
        = image_tag("prod_1.jpg", class: "sudden__rise__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "sudden__rise__project__box__in__title"
        %p.sudden__rise__project__box__in__text テキストテキストテキストテキストテキスト


  .store
    .store__title
      = image_tag("logo_makuake_store.png", class: "store__title__image")
      %p.store__title__text Makuake成功プロジェクトのアイテムをお届け！

    .store__prod
      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("hero_thumb.png", class: "store__prod__box__top__image", size: "310x170")
          %p 応援されて育ちました。

        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り11個

          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 77,231円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("hero_thumb.png", class: "store__prod__box__top__image", size: "310x170")
          %p 応援されて育ちました。

        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り11個

          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 77,231円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("hero_thumb.png", class: "store__prod__box__top__image", size: "310x170")
          %p 応援されて育ちました。

        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り11個

          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 77,231円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("hero_thumb.png", class: "store__prod__box__top__image", size: "310x170")
          %p 応援されて育ちました。

        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り11個

          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 77,231円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("hero_thumb.png", class: "store__prod__box__top__image", size: "310x170")
          %p 応援されて育ちました。

        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り11個

          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 77,231円(税込)

      .store__prod__box
        = link_to root_path, class: "store__prod__box__top" do
          = image_tag("hero_thumb.png", class: "store__prod__box__top__image", size: "310x170")
          %p 応援されて育ちました。

        .store__prod__box__bottom
          .store__prod__box__bottom__stock
            %p 残り11個

          .store__prod__box__bottom__money
            %i.store__prod__box__bottom__money__image{class: "fa fa-yen"}
            %p 77,231円(税込)

  .mk-content
    .mk-content__project
      = image_tag("content.png", class: "mk-content__project__icon", size: "25x20")
      .mk-content__project__title Makuakeコンテンツ

    .ml-content__project__box
      .mk-content__project__box__in
        = image_tag("prod_1.jpg", class: "mk-content__project__box__in__image", size: "310x170")
        %p.mk-content__project__box__in__text glafitバイク」が国内最高記録を樹立

      .mk-content__project__box__in
        = image_tag("prod_1.jpg", class: "mk-content__project__box__in__image", size: "310x170")
        %p.mk-content__project__box__in__text glafitバイク」が国内最高記録を樹立

      .mk-content__project__box__in
        = image_tag("prod_1.jpg", class: "mk-content__project__box__in__image", size: "310x170")
        %p.mk-content__project__box__in__text glafitバイク」が国内最高記録を樹立


  .ranking
    .ranking__rise__project
      = image_tag("sudden_rise.png", class: "ranking__project__icon", size: "32x28")
      .ranking__project__title 支援金ランキング

    .ranking__project__box
      .ranking__project__box__in
        = image_tag("prod_1.jpg", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text テキストテキストテキストテキストテキスト
      .ranking__project__box__in
        = image_tag("prod_1.jpg", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text テキストテキストテキストテキストテキスト
      .ranking__project__box__in
        = image_tag("prod_1.jpg", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text テキストテキストテキストテキストテキスト
      .ranking__project__box__in
        = image_tag("prod_1.jpg", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text テキストテキストテキストテキストテキスト
      .ranking__project__box__in
        = image_tag("prod_1.jpg", class: "ranking__project__box__in__image", size: "188x106")
        = link_to "ドードープスーッドードドプスーッ", root_path, class: "ranking__project__box__in__title"
        %p.ranking__project__box__in__text テキストテキストテキストテキストテキスト

  .report
    .report__title
      = image_tag("report.gif", class: "report__title__icon", size: "32x32")
      .report__title__body 最近の活動レポート

    .report__box
      .report__box__in
        = image_tag("prod_1.jpg", class: "report__box__in__image", size: "144x81")
        .report__box__in__body
          = link_to "これ1台で5分で楽曲が作れる！携帯型音楽作曲デバイス「KDJ-ONE」", root_path, class: "report__box__in__body__bold"
          %p.report__box__in__body__time 1時間前
          = link_to "お問い合わせいただき誠にありがとうございます。", root_path, class: "report__box__in__body__thin"

      .report__box__in
        = image_tag("prod_1.jpg", class: "report__box__in__image", size: "144x81")
        .report__box__in__body
          = link_to "これ1台で5分で楽曲が作れる！携帯型音楽作曲デバイス「KDJ-ONE」", root_path, class: "report__box__in__body__bold"
          %p.report__box__in__body__time 1時間前
          = link_to "お問い合わせいただき誠にありがとうございます。", root_path, class: "report__box__in__body__thin"

      .report__box__in
        = image_tag("prod_1.jpg", class: "report__box__in__image", size: "144x81")
        .report__box__in__body
          = link_to "これ1台で5分で楽曲が作れる！携帯型音楽作曲デバイス「KDJ-ONE」", root_path, class: "report__box__in__body__bold"
          %p.report__box__in__body__time 1時間前
          = link_to "お問い合わせいただき誠にありがとうございます。", root_path, class: "report__box__in__body__thin"

  .note
    .note__title
      = image_tag("report.gif", class: "note__title__icon", size: "32x32")
      .note__title__body 最近のMakuake Note

    .note__box
      .note__box__in
        = image_tag("prod_1.jpg", class: "note__box__in__image", size: "144x81")
        .note__box__in__body
          = link_to "これ1台で5分で楽曲が作れる！携帯型音楽作曲デバイス「KDJ-ONE」", root_path, class: "note__box__in__body__bold"
          %p.note__box__in__body__time 1時間前
          = link_to "お問い合わせいただき誠にありがとうございます。", root_path, class: "note__box__in__body__thin"
      .note__box__in
        = image_tag("prod_1.jpg", class: "note__box__in__image", size: "144x81")
        .note__box__in__body
          = link_to "これ1台で5分で楽曲が作れる！携帯型音楽作曲デバイス「KDJ-ONE」", root_path, class: "note__box__in__body__bold"
          %p.note__box__in__body__time 1時間前
          = link_to "お問い合わせいただき誠にありがとうございます。", root_path, class: "note__box__in__body__thin"
      .note__box__in
        = image_tag("prod_1.jpg", class: "note__box__in__image", size: "144x81")
        .note__box__in__body
          = link_to "これ1台で5分で楽曲が作れる！携帯型音楽作曲デバイス「KDJ-ONE」", root_path, class: "note__box__in__body__bold"
          %p.note__box__in__body__time 1時間前
          = link_to "お問い合わせいただき誠にありがとうございます。", root_path, class: "note__box__in__body__thin"

  .bottom-copy
    %h1.bottom-copy__top クラウドファンディングサイトMakuakeの特徴
    %h2.bottom-copy__bottom Makuakeでクラウドファンディングを実施するプロジェクト実行者は、掲載した自らのプロジェクトに賛同してくれたサポーター（資金提供者）に対してそれぞれが提供してくれた資金額に従いプレミアムなモノやサービスをお返しします。掲載されたプロジェクトはサイバーエージェントグループが運営する4000万人の会員数を誇るAmebaや、その他のメディアからの集客を行うことでより多くのネットユーザーにプロジェクトのアイデアを知ってもらうことができます。同時に、スマートフォンユーザー向けに最適化されたページ表示にも対応しており、決済手段に関してもクレジットカード・ペイジー(銀行振込)・ネットバンク振込・コンビニ払いを用意することでスムーズな支援が可能なサービスとなっております。

