= render partial: "header"

= render partial: "pickup"

.content
  .catch-copy
    %h1.catch-copy__top 新たなチャレンジを応援しよう。
    %h2.catch-copy__bottom 世の中を良くする新しいチャレンジが毎日続々と登場。

  .project
    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%

    .project__box
      = link_to root_path, class: "project__box__top" do
        = image_tag("hero_thumb.png", class: "project__box__top__image", size: "310x170")
        %p 新たなチャレンジを応援しよう。

      .project__box__middle
        .project__box__middle__time
          %i.project__box__middle__time__image{class: "fa fa-clock-o"}
          %p 52日
        .project__box__middle__money
          %i.project__box__middle__money__image{class: "fa fa-yen"}
          %p 1,777,231円

      .project__box__bottom
        .project__box__bottom__gage
        .project__box__bottom__per
          %p 591%
